# Ignore Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Optional: local environment variables
.env
